@import "tailwindcss";


@theme {
  --font-sans: "Arimo", sans-serif;
  --font-display: "Instrument Serif", serif;
  --screen-sm: 640px;
  --screen-md: 768px;
  --screen-lg: 1024px;
  --screen-xl: 1280px;
  --screen-2xl: 1440px;
  --color-rock: #f8f7e7;
  /* --color-dark-forest: #002513; */
  --color-dark-forest: #185038;
}

body {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

@layer base {
  body{
    @apply bg-dark-forest text-rock;
  }
}

@layer components {
  .glass-card {
    @apply border border-white/25 backdrop-brightness-80 backdrop-blur-md
  }
}

@layer utilities {
  .container-2xl {
    @apply container mx-auto max-w-screen-2xl px-2 md:px-4;
  }
}


